/* .sidebar-section img {
  width: 100%;
  margin-bottom: 2em;
}

.profile-pic {
  float: left;
  margin: 0 1em 1em 0;
} */

/* .bg {
  background-image: url("../assets/sullia-taluk.png");
  background-position: -550px -50px;
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff 
} */

/* .gradient {
  
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7),
    rgba(100, 53, 158, 0.4) 100%
  );
} */